@font-face {
  font-family: 'Noto Color Emoji';
  src: url(https://gitcdn.xyz/repo/googlefonts/noto-emoji/master/fonts/NotoColorEmoji.ttf);
}
.name{
  font-size: 3rem;
  /* font-weight: bolder; */
  font-family: 'Krona One';
} 

body{
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all 0.3s linear ;
}

.card-title{
  font-family: 'Krona One';
  font-size: 30px;

}

.navbar-brand{
  font-family: 'Krona One';
  font-size: 37px;
  /* width: 200px; */
  position: relative;
  /* top: 0px; */
  left: 1.8%;
}

.qk,.card-footer{

  font-family: helvetica;
  line-height: 2;
}

.card-text{
  font-weight: lighter;
  line-height: 2;

}

.qk{
  font-size: 15px;
}


.bb{
  min-height: 500px;
  width: 100%;
  margin-bottom: 10px;
}

.l{
  font-size: 30px;
  margin-right: 60px;
}

.cimg{
  background-image: url("./vastra.png");
  background-size: 200px;
  background-repeat: no-repeat;
  height: 100px;
    margin: auto;
    position: relative;
    top: -30px;
    left: 68px;
}

.card-footer{
  border: none;
  font-size: 15px;
  opacity: 0.5;
  border: none;
  margin-bottom: 4px !important;
  
}

.card{
  /* box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.45); */
  border: none;
}

.tap{
  border: #f79712c2 dashed 2px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding: 33px;
  position: absolute;
  left: 246px;
  bottom: -21px;
}

.c{
  width:180px;
  height:180px;
/*   background-color:green; */
  border-radius:50%;
  position:absolute;
  border: solid 20px #016FB9;
}   

#chart {
         width:0;
         height:0;
         border-radius: 115px;
         -moz-border-radius: 115px;
         -webkit-border-radius: 115px;

    position: absolute;
    left: -51px;
    top: -40px;
    }
    
    .q2{
      border-right:115px solid white !important;
      border-top:115px solid transparent;
      border-left:115px solid transparent;
      border-bottom:115px solid transparent;
     
    }
    
    .q1{
      border-right:115px solid transparent;
      border-top:118px solid white !important;
      border-left:115px solid transparent;
      border-bottom:115px solid transparent;
      /* transform: rotate(4deg); */
    
    }
    
    .q4{
    
          border-right:115px solid transparent;
      border-top:115px solid transparent;
      border-left:115px solid white !important;
      border-bottom:115px solid transparent;
      /* transform: rotate(4deg); */
    
    }
    
    .q3{
        border-right:115px solid transparent;
      border-top:115px solid transparent;
      border-left:115px solid transparent;
      border-bottom:115px solid white;
      /* transform: rotate(4deg); */
    
    }
    .ch2{
    position: absolute;
    left: 8px;
    border-top:115px solid red !important;
    }
    
    
   
    
    .c2{
    width: 140px;
    height: 140px;
    /*     background-color: red; */
    position: absolute;
    border-radius: 50%;
    z-index: 10;
    border: 20px #37A0BB solid;
    
    }
    
    
    #chart2 {
      width:0;
      height:0;
      border-radius: 115px;
      -moz-border-radius: 115px;
      -webkit-border-radius: 115px;
    display:inline-block;
    position: absolute;
    left: -22px;
    top: -23px;
    }
    
    
    .qi2{
    border-right:72px solid white !important;
    border-top:72px solid transparent;
    border-left:72px solid transparent;
    border-bottom:72px solid transparent;
    transform: rotate(4deg);
    
    
    }
    
    .qi1{
    border-right:72px solid transparent;
    border-top:75px solid white !important;
    border-left:72px solid transparent;
    border-bottom:72px solid transparent;
    /* transform: rotate(4deg); */
    
    }
    
    .qi4{
    
    border-right:72px solid transparent;
    border-top:72px solid transparent;
    border-left:75px solid white !important;
    border-bottom:72px solid transparent;
    /* transform: rotate(4deg); */
    
    }
    
    .qi3{
    border-right:72px solid transparent;
    border-top:72px solid transparent;
    border-left:72px solid transparent;
    border-bottom:75px solid white;
    transform: rotate(4deg);
    
    }

    .pjt{
      position: relative;
      display: inline-block;
      top: -177px;
      left: 35%;
      z-index: 100;
      width: 90px;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
    }

    .sklhd{
      position: relative;
    left: 18%;
    bottom: 66px;
}

.vst{
  position: relative;
  width: 368px;
  left: 17px;
  top: 34px;
  margin-bottom: 26px;
}

.cdbl{
  margin-left: 17px !important;
}

.pimg{
  background-image: url(dev.jpeg);
  width: 250px;
  height: 250px;
  background-size: cover;
  border: 15px solid #1C1C1C;
  border-bottom: 40px solid #1C1C1C;
  position: relative;
  left: 16%;
}

.abt_cnt{
  min-height: 800px;
}

.objy{
  width: 93%;
  height: 510px;
  position: absolute;
  top: 44%;
}

.contct{
  position: absolute;
    top: 283px;
    left: 5%;
    z-index: 10;
    /* text-align: center; */
    font-size: 1.5em;
    font-family: 'Krona One';
    margin: 8%;
    line-height: 1.6;
}

@media screen and (min-width: 500px) {
  .child1 {
    margin-top: 31% !important;
    margin: auto;
    width: 95vw;
  }
}

@media screen and (max-width: 500px) {
  .child1 {
    margin: auto;
    width: 98vw;
    margin-top: 31rem !important;

  }
  #main_anim {
    position: absolute;
    width: 101vw !important;
    height: 87vh !important;
    margin-top: 11% !important;
    margin: 0;
}
}

@media screen and (max-width: 500px) {

  .cimg{
   display: none;
  }
}

/* @media screen and (min-width: 450px) {
  .main1{
    display: none;
  }
  .cimg{
    position: absolute;
    top: 0;
    left: 95px;
    margin: auto;
    width: 83%;
    height: 100%;
  }
} */
.rolee {
  position: absolute !important;
  top: 46% !important;
  display: none;
}
.wrk .role {
  position: absolute;
  top: 54%;
  display: none;
}

.card:hover .role,.rolee{
  display: block;
}

.wrk button {
  display: none;
}

strong{
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Krona One';
  margin-bottom: 30px !important;
}

.cont_btn{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 86%;
  left: 67%;
  /* pointer-events: auto; */
}
.toggle-btn{
  position: relative;
  border: 5px solid #BB86FC;
  width:110px;
  height:60px;
  background-color:gray;
  border-radius:35px;
  transition:all 300ms ease-in-out;
}

.toggle-btn > .inner-circle{
  padding: 3px;
    width:50px;
  height:50px;
  background-color:white;
  border-radius:50px;
    transition:all 300ms ease-in-out;

}

.toggle-btn.active{
  background:#272727;
}

.toggle-btn.active > .inner-circle{
margin-left:50px;
}

span{
  font-size: 28px;
    margin: 2px;
    cursor: pointer;
  font-family: 'Noto Color Emoji' !important;

}

/* .nav_shad{
  box-shadow: 0px 14px 20px -28px rgba(0, 0, 0, 0.45);
} */

.nav-link{
  margin-right: 20px;
  font-size: 17px;
}

.dsp{
  transition: all 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}



#s_logo{
  animation:fill 0.5s ease forwards 3s;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
#s_logo path:nth-child(1){
  stroke-dasharray:735;
  stroke-dashoffset:735;
  animation:line-anim 2s ease forwards;
}


#s_logo path:nth-child(2){
    stroke-dasharray:791;
  stroke-dashoffset:791;
   animation:line-anim 2s ease forwards 0.3s;

}


#s_logo path:nth-child(3){
    stroke-dasharray:574;
  stroke-dashoffset:574;
    animation:line-anim 2s ease forwards 0.6s;

}


#s_logo path:nth-child(4){
    stroke-dasharray:791;
  stroke-dashoffset:791;
    animation:line-anim 2s ease forwards 0.9s;

}


#s_logo path:nth-child(5){
    stroke-dasharray:874;
  stroke-dashoffset:874;
    animation:line-anim 2s ease forwards 0.12s;

}


#s_logo path:nth-child(6){
    stroke-dasharray:732;
  stroke-dashoffset:732;
   animation:line-anim 2s ease forwards 0.15s;
}

@keyframes line-anim{
  to{
  stroke-dashoffset:0;
    
  }
}

@keyframes fill{
  0%{
    fill:transparent;
  }
  to{
  fill:#212529;
  width: 249px;
  top: 70%;
  left: 28%;
  }
}

#svv{
  width: 99vw;
  height: 100vh;
  position: absolute !important;
  top: 0 !important;
  z-index: 5000;
  background: #F1F1F1;
  animation: place 0.5s ease forwards 3.6s;
  display: none;
}

@keyframes place{
  to{
    opacity: 0;
  z-index: -10;

  }
}

#yo{
  display: inline;
  position: absolute;
  top: 72%;
  left: 78%;
  z-index: 0;
  height: 211px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  background: #f6fafd;
  /* center the svg in the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* animate bb-8 to rotate and translate horizontally
! the group makes it possible to transform the element from the bottom center
*/
.bb8-base {
  animation: dash 0.8s infinite alternate cubic-bezier(0.645, 0.045, 0.55, 1);
}
@keyframes dash {
  to {
    transform: translate(50px) rotate(-20deg); /* starting values 0 translation -40 rotation */
  }
}

/* animate the body of bb-8 to rotate
! the rotation occurs from the center of the body
*/
.bb8-center {
    position: absolute;
  animation: rotate 0.8s infinite linear;
}
@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}

#yo{
  animation:frwd 10s infinite linear;
}

@keyframes frwd{
  to{
    transform:translateX(-1600px);
  }
}




