.mydiv{
  width: 30%;
  height: 500px;
  padding: 20px;
  /* margin: 100px; */
  background-color:royalblue;
  margin-left: 10px;
  border: salmon 10px solid;
  margin-bottom: 10px;
}

.mydiv3{
  width: 30%;
  height: 10%;
  padding: 20px;
  /* margin: 100px; */
  background-color:royalblue;
  margin-left: 10px;
  border: salmon 10px solid;
  margin-bottom: 10px;
}

/* h1{
  margin: auto;
  width: 370px;
} */


.mydiv2{
  /* display: flex; */
  margin: auto;
  width: 80%;
}

.d2{
  width: 300px;
  height: 200px;
  background-color: khaki;
}

