
$desktop : 840px;

@mixin desktop {
  @media (min-width: #{$desktop}){
    @content;
  }
}

@include desktop{

  .main1{
    width: 100% !important;
    // margin-top: 25%;
  }

body{
  height: 100%;
  .container{
    margin-left: 0 !important;
    margin-bottom: 7%;
  }
  #main_anim{
    position: absolute;
    bottom: 3% !important;
  }
  .q_me{

    .nme{
      margin-left: -35px;
    }

    .qk{
      font-size: 20px;
    }

  }

  .links{
    margin: 0px !important;
    position: relative;
    left: 29%;
    min-width: 500px !important;
    a{
      color: black !important;
    }
  }

  #svv{
    display:inline-block !important;
  }
  
@keyframes fill{
  0%{
    fill:transparent;
  }
  to{
  fill:#212529;
  width: 249px;
  top: 70.5%;
  left: 28%;
  }
}
}




.wrk{
  .card{
    width: 88vw !important;
    height: 450px !important;
    margin-bottom: 7%;
  }

  .card-body{
    padding: 6%;
    width: 50%;
    text-align: justify;
    
  }

  .card-title{
    font-size: 3rem;
  }
    .card-footer{
    display: none !important;
  }
  .vst {
    position: absolute;
    width: 59%;
    left: 48%;
    top: 29px;
    margin-bottom: 26px;
    transition: all 0.5s ease-in-out;
}
  .active_img{
    width: 65%;
  }
  .shp{
    position: absolute;
    width: 41%;
    left: 60%;
    top: -16%;
    margin-bottom: 26px;
  }

  .wave{
    position: absolute;
    width: 41%;
    left: 60%;
    top: 4%;
    margin-bottom: 26px;
  }



  .inst{
    top: -11% !important;
  }

  .role{

    position: absolute;
    top: 34% !important;
    width: 39% ;
    display: none;
    height: 300px;
  }

  .rolee{
    top: 17% !important;
  }

  .card-title{
    .role{
      top: 18%;
    }
  }

  button{
    display: inline-block;
  }
}



.skl{
  .card{
    width: 191% !important;
    
  }

  .pjt{
    left: 8.3% !important;
    display: block;
  }

  .sklhd{
    position: relative;
    left: 0%;
    top: 22px;


  }

  .sk2{
    position: relative !important;
    left: -1.5% !important;
    top: -4px !important;
  }

  .sk3{
    position: relative !important;
    left: 0% !important;
    top: -4px !important;
  }

  img{
    width: 15%;
    margin: 25px;
  }

  .css{
    margin-bottom: 13%;
  }

  .js{
    margin-bottom: 11%;
  }


  .rad-prog{
    margin-left: 60px;
    height: 250px;
    border-bottom: 3px solid #cfcfcf;
  }

  .rad_prog{
    margin-left: 60px;
    height: 250px;
    border-bottom: 3px solid #cfcfcf;
    width: 95% !important;
  }

  .exp1{
    background-color: #016FB9;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;

  }

  .exp2{
    background-color: #37a0bb;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }

  .expln{
    position: relative;
    right: 79%;
    top: 12%;
  }

  p{
    display: inline;
    padding-bottom: 10px;
  }
}



.abt_cnt {
  height: 1420px;
  color: white;
  width: 100%;

  .objy {
    width: 100%;
    height: 609px;
}

.container{
  padding: 132px;
    width: 64%;
    margin: auto !important;
    padding-top: 23px;
}

.qk{
  font-size:1.2rem;
}
strong{
  font-family: 'Krona One';
  text-transform: uppercase;
  font-size: 2rem;
}

.name{
  margin-left: 100px !important;
}

.pimg {
  background-image: url(dev.jpeg);
  width: 400px;
  height: 400px;
  background-size: cover;
  border: 15px solid #1C1C1C;
  border-bottom: 40px solid #1C1C1C;
  position: relative;
  left: 36%;
}

.contct {
  position: absolute;
  top: 438px;
  left: 16%;
  z-index: 10;
  /* text-align: center; */
  font-size: 2rem;
  font-family: 'Krona One';
  margin: 8%;
  color: black;
  line-height: 1.6;
}
.links{
  margin-left: 13% !important;
  margin-top: 14% !important;
  a{
    color: white !important;
  }
}
}
.cont_btn {
  top: 83%;
  left: 92%;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 131px;
  right: 44px;
  z-index: 99;
  font-size: 11px;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  width: 3rem;
  color: black;
}
}


.active{
  .rot1{
    animation: spin 3s cubic-bezier(.8, 0, .2, 1) ;
    animation-fill-mode: forwards;
    }
    
    @keyframes spin {
    100%{ transform: rotate(270deg);
    }
    
    } 
    .rot2{
    animation: spin2 3s cubic-bezier(.8, 0, .2, 1) ;
    animation-fill-mode: forwards;
    }
    
    @keyframes spin2 {
    100%{ transform: rotate(90deg);
    }
    
    } 
    
    .rot3{
    animation: spin3 3s cubic-bezier(.8, 0, .2, 1);
    animation-fill-mode: forwards;
    }
    
    @keyframes spin3 {
    100%{ transform: rotate(180deg);
    }
    
    } 
}                         